@import "../mixins/text";

$footer-height: 50px;

#footer-push {
  min-height: calc(100vh - 51px);
}

footer {
  height: $footer-height;

  .wrapper {
    border-top: 1px solid $border-color;
    line-height: $footer-height;
  }
}