@import "variables/vars";
@import "mixins/media";
@import "components/header";
@import "components/main-menu";
@import "components/footer";

* {
  font-family: sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 24px;
  padding: $padding;
  color: $red;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: $transition;

  &:hover {
    color: $link-color_hover;
  }
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  color: blue;
}

/* смартфоны, сенсорные экраны */
@media (hover: none) and (pointer:ough) {
  /* ... */
}

/* экраны со стилусом */
@media (hover: none) and (pointer: fine) {
  /* ... */
}

/* Контроллер Nintendo Wii, Microsoft Kinect */
@media (hover: hover) and (pointer:rough) {
  /* ... */
}

/* мышь, сенсорная панель */
@media (hover: hover) and (pointer: fine) {
  /* ... */
}