extends layout/main.pug

append variables
	- var title = 'Главная';

block content
	main.main
		.swiper
			.swiper-wrapper
				.swiper-slide text
				.swiper-slide text
				.swiper-slide text

append styles
	+style('index.css')