extends ../layout/main.pug

append variables
	- var title = 'Список';

block content
	main.main
		ul 
			li 
				a.text-xl(href="index.html" target="_blank" rel="noopener noreferrer") Главная
			li 
				a(href="catalog.html" target="_blank" rel="noopener noreferrer") Каталог 1
			li 
				a(href="catalog2.html" target="_blank" rel="noopener noreferrer") Каталог 2

append styles
	+style('index.css')