extends layout/main.pug

append variables
  - var title = 'Страница 1'
  - var mainMenuSelected = 1

block content
  main#index
    .wrapper
      h1= 'Страница 1'
      img(src='/assets/images/cat-1.jpg')
      p
        | Товарищи! начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки систем массового участия. Значимость этих проблем настолько очевидна, что постоянный количественный рост и сфера нашей активности влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Идейные соображения высшего порядка, а также укрепление и развитие структуры позволяет выполнять важные задания по разработке соответствующий условий активизации. Таким образом рамки и место обучения кадров представляет собой интересный эксперимент проверки соответствующий условий активизации. Идейные соображения высшего порядка, а также дальнейшее развитие различных форм деятельности позволяет оценить значение дальнейших направлений развития.
      p
        | Разнообразный и богатый опыт начало повседневной работы по формированию позиции влечет за собой процесс внедрения и модернизации направлений прогрессивного развития. Разнообразный и богатый опыт рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что укрепление и развитие структуры позволяет выполнять важные задания по разработке существенных финансовых и административных условий. С другой стороны сложившаяся структура организации играет важную роль в формировании направлений прогрессивного развития. Разнообразный и богатый опыт начало повседневной работы по формированию позиции способствует подготовки и реализации существенных финансовых и административных условий.

append styles
  +style('/assets/css/index.css')

append scripts
  +js('/assets/js/index.js')