include ../mixins/style
include ../mixins/script
include ../mixins/image
include ../mixins/sprite

block variables

doctype html
html
	head
		title #{title}
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
		+style('libs.min.css')
		+style('global.css')
		+style('common.css')
		block styles
	body
		.content
			include ../partials/header.pug
			block content
		include ../partials/footer.pug
		+script('libs.min.js')
		+script('global.min.js')
		+script('main.min.js')
		block scripts
